
@import "_layout.scss";

body {
    margin: 0;
}

.menu {
    grid-area: menu;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.content-a {
    grid-area: content-a ;
    background-color: blue;
}

.content-b {
    grid-area: content-b;
    background-color: yellow;
}

@media screen and (min-width: 1176px){
    .main-display{
        @include x-large-resolution;
    }
}

@media screen and (max-width: 1175px) and (min-width: 867px) {
    .main-display{
        @include large-resolution;
    }
}

@media screen and (max-width: 866px) and (min-width: 576px) {
    .main-display{
        @include medium-resolution;
    }
}

@media screen and (max-width: 575px) {
    @include small-resolution;
}